.sidebar {
  width: 260px;
  height: 100vh;
  background: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 18px;
  border-right: 1px solid #2b2b2b;
}

.logo h2 {
  color: #8b5cf6;
  margin-bottom: 4px;
}

.logo p {
  color: #9ca3af;
  font-size: 14px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: .25s;
}

.menu a:hover {
  background: #8b5cf6;
}

.menu a.active {
  background: #8b5cf6;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: .3s;
}

.logout-btn:hover {
  background: #dc2626;
}